@media only screen and (min-width:576px) and (max-width:767px) {
    .room-area {
        margin-top: 10px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .room-area {
        margin-top: 10px;
    }
}
@media only screen and (min-width:992px) and (max-width:1200px) {
    .room-area {
        margin-top: 10px;
    }
}